@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgba(172, 207, 207, 0.637);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgb(16, 99, 99);
    color: white;
}

h1 {
    color: rgb(16, 99, 99);
}

h2 {
    color: rgb(60, 160, 160);
}

.basico {
    color: rgb(134, 61, 61);
}

.intermediario {
    color: rgb(139, 134, 61);
}

.avancado {
    color: rgb(70, 136, 64);
}

.destaque {
    background-color: rgba(211, 211, 60, 0.788);
}